@model RegisterVM
<div class="container mt-4 border">
    <div class="row">
        <div class="col-12 p-3 fs-3 bg-success text-center">Register</div>
        <form method="post">
            <input  asp-for="RedirectUrl"/>
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div>
                <label class="col-12 mt-2 mb-1" asp-for="Email"></label>
                <input asp-for="Email"  class="form-control col-12"/>
            </div>
            <div>
                <label class="col-12 mt-2 mb-1" asp-for="Name"></label>
                <input asp-for="Name" class="form-control col-12" />
            </div>
            <div class="row mt-2">
                <div class="col-6 mt-2">
                    <label asp-for="Password" class="mb-1"></label>
                    <input  asp-for="Password" class="form-control"/>
                </div>
                <div class="col-6 mt-2">
                    <label asp-for="ConfirmPassword" class="mb-1"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                </div>
            </div>
            <div class="row mt-3">
            <div class="col-6 mt-3">
                <select asp-for="Role" asp-items="Model.RoleList" class="form-select">
                 <option selected>Select role</option>
              
                </select>
            </div>
            <div class="col-6">
                <label asp-for="PhoneNumber"></label>
                <input  class="form-control" asp-for="PhoneNumber"/>
            </div>
            </div>
            <button class="btn btn-outline-secondary fs-4 mt-5 mb-3 col-12">Register</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name ="_ValidationScriptsPartial" />
}