@model VillaNumber
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-success fs-3 text-center">Delete Villa</div>
        <div class="col-12 border">
            <form method="post">
                <input asp-for="Villa_Number" hidden/>
                <table class="table table-bordered w-100">
                    <thead>
                        <tr>
                            <th>Villa-Number</th>
                            <th>VillaId</th>
                            <th>Special Details</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Villa_Number</td>
                            <td>@Model.VillaId</td>
                            <td>@Model.SpecialDetails</td>
                        </tr>

                    </tbody>
                </table>
                
             <div class="row pt-2">
                 <div class="col-6 col-md-3 ">
                     <button type="submit" class="w-100 bg-danger fs-5">submit</button>
                 </div>
                    <div class="col-6 col-md-3 ">
                        <button asp-action ="Index" asp-controller="VillaNumber" class="w-100 bg-info fs-5 ">Back</button>
                    </div>
             </div>
            </form>
           
        </div>
    </div>
</div>
